<div
    class="container-fluid p-2 bg-primary text-white text-left shadow border border-3">
    <div>
        <h1>TechMiner</h1>
        <div class="form-floating">
            <select class="form-select" id="sel1" name="sellist1">
                <option>World map</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <label for="sel1" class="form-label text-dark">Please select a
                tool:</label>
        </div>
    </div>
</div>